<h1 class="mt-5 ml-5">設計フェーズ</h1>

    <script>
      var max = 100
      var num = 1
      var count = 0

      while(num < max){
       num = num * 2
       count = count + 1
      }

      alert("2を掛け続けて" + max + "を超えるのに必要だった回数は" + count + "回です")
    </script>

    <script>
      var a = 100
      var b = 200
      if (a < b) {
        alert ("zzz")
      }else{
      alert ("xxx")
      }
    </script>
